---
interface Props {
	class?: string;
	style?: string;
	width?: number;
	height?: number;
}

const {
	class: className = "",
	style,
	width = 24,
	height = 24,
} = Astro.props;
---

<svg
	width={width}
	height={height}
	viewBox="0 0 98 48"
	fill="currentColor"
	xmlns="http://www.w3.org/2000/svg"
	class={className}
	style={style}
	aria-hidden="true"
>
	<title>Squiggly Arrow Icon</title>
	<g clip-path="url(#clip0_3_240)">
		<path
			d="M74.1924 29.6589C72.0809 29.6589 69.7582 29.6589 67.6467 29.6589C49.0651 29.4475 30.2725 29.0246 11.6909 28.8131C9.57939 28.8131 7.679 28.8131 5.56747 28.6016C2.82247 28.3902 -0.555988 27.7558 0.0774727 24.1611C0.288626 22.6809 3.45593 20.9892 5.35631 20.7778C20.9817 19.9319 36.3959 19.2976 52.0213 18.6632C55.6109 18.4517 59.2005 18.6632 63.0013 16.7601C58.7782 14.2226 54.344 12.108 50.332 9.3591C48.4317 8.09036 46.3201 4.91851 46.7424 3.0154C47.587 -0.790819 51.8101 -0.367907 54.344 0.900835C67.0132 6.39871 79.8936 11.8966 92.1405 18.4517C99.9532 22.6809 99.9532 29.0246 92.1405 33.2537C81.794 38.963 70.6028 43.1921 59.834 47.8442C58.567 48.4786 56.4555 46.9984 54.7663 46.5755C55.3997 44.8838 55.3997 42.3463 56.6667 41.5005C59.2005 39.3859 62.579 38.1172 65.5351 36.4255C68.7024 34.7339 71.8697 33.0422 74.8259 31.3506C74.4036 30.9277 74.1924 30.2933 74.1924 29.6589Z"
			fill="currentColor"></path>
	</g>
	<defs>
		<clipPath id="clip0_3_240">
			<rect
				width="48"
				height="98"
				fill="currentColor"
				transform="translate(0 48) rotate(-90)"></rect>
		</clipPath>
	</defs>
</svg>
