@font-face {
	font-family: "Sentient-Variable";
	src: url("/fonts/Sentient-Variable.woff2") format("woff2");
	font-weight: 200 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Playfair Display";
	src: url("/fonts/PlayfairDisplay.woff2") format("woff2");
	font-weight: 400 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Playfair Display";
	src: url("/fonts/PlayfairDisplay-Italic.woff2") format("woff2");
	font-weight: 400 900;
	font-style: italic;
	font-display: swap;
}
