---
import Omega from "@/icons/omega.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
	class="bg-background/20 text-foreground/75 sticky top-0 z-40 mb-10 w-full text-sm backdrop-blur-3xl backdrop-filter"
>
	<nav
		class="mx-auto flex h-16 items-center justify-between max-sm:px-4 sm:max-w-sm md:max-w-xl lg:max-w-3xl"
	>
		<a href="/" class="flex items-center space-x-2">
			<Omega
				class="bg-foreground/75 text-background h-5 w-5 rounded-full p-0.5"
			/>
			<span>Yogesh{" "}Bhutkar</span>
		</a>
		<div class="flex items-center space-x-4">
			<a href="/">Blogs</a>
			<ThemeToggle />
		</div>
	</nav>
</header>
