name: Lighthouse CI

on:
    pull_request:
    push:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - run: bun install --frozen-lockfile

            - name: Build
              run: bun run build

            - name: Lighthouse audit
              uses: treosh/lighthouse-ci-action@v12
              with:
                  uploadArtifacts: true
                  configPath: .github/.lighthouserc.json
